# Dependencies
node_modules/

# macOS
.DS_Store

# VS Code
.vscode/

# Your personal workspace
lukas.code-workspace

# Logs
npm-debug.log*

# Environment variables
.env
.env.*

# Optional future build output
dist/